body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

#tests {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-top: 1.5em;
}

#tests td,
#tests th {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.6em 1em;
}

#tests td:last-child {
  width: 5em;
  font-family: 'Roboto Mono', Menlo, Consolas, 'Courier New', monospace;
}

#tests td:first-child {
  width: 25em;
}

#tests tr.success td {
  background-color: #ebffcc;
}

#tests tr.error td {
  background-color: #ffe9e9;
}

code {
  font-family: 'Roboto Mono', Menlo, Consolas, 'Courier New', monospace;
  background: rgba(173, 173, 173, 0.14);
  padding: 0.2em 0.4em;
  border-radius: 3px;
}


#test-area {
  background: #eee;
  padding: 3em;
  padding-top: 4em;
  position: relative;
}

#test-area::before {
  content: "Test Area";
  text-transform: uppercase;
  font-weight: 400;
  color: #bbb;
  position: absolute;
  left: 1em;
  top: 1em;
}

#test-area {
  height: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
